<app-carousel></app-carousel>

<div class="container-fluid bg-light pt-4 mt-2">
  <div>
    <h3 class="heading-deals">Deals of the day</h3>
  </div>
  <section class="wrapper">
    <div class="container-fostrap">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="card">
                <a class="img-card">
                  <img src="../../../assets/img/deal-1.jpeg" />
                </a>
                <div class="card-content">
                  <h5 class="text-center">Bean Bag</h5>
                  <p class="text-center m-0">Extra 10% Off</p>
                  <p class="text-muted text-center m-0">
                    Space saving furniture
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="card">
                <a class="img-card">
                  <img src="../../../assets/img/deal-2.jpeg" />
                </a>
                <div class="card-content">
                  <h5 class="text-center">Food</h5>
                  <p class="text-center m-0">Extra 5% Off</p>
                  <p class="text-muted text-center m-0">Dry Fruit & More</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="card">
                <a class="img-card">
                  <img src="../../../assets/img/deal-3.jpeg" />
                </a>
                <div class="card-content">
                  <h5 class="text-center">Trimmer</h5>
                  <p class="text-center m-0">From Rs. 399</p>
                  <p class="text-muted text-center m-0">Electronics & More</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="card">
                <a class="img-card">
                  <img src="../../../assets/img/deal-4.jpeg" />
                </a>
                <div class="card-content">
                  <h5 class="text-center">School Bag</h5>
                  <p class="text-center m-0">60-80% Off</p>
                  <p class="text-muted text-center m-0">Bagpacks</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container-fluid pt-2 pb-4">
  <div class="row">
    <div>
      <h5 class="fw-bold mt-4 mb-3 ms-5">Top Rated Appliances</h5>
    </div>
    <div class="d-flex justify-content-evenly">
      <div class="card" style="width: 12rem; height: 220px; border-radius: 10%">
        <img
          style="width: 50%; margin-left: 50px"
          src="https://rukminim1.flixcart.com/image/300/300/ji0lbbk0/electric-kettle/9/h/s/nandani-stainless-steel-original-imaezphmhhgdfapp.jpeg?q=70"
          alt="..."
          class="py-2"
        />
        <div class="card-content">
          <h5 class="text-center">Electric Kettles</h5>
          <p class="text-center m-0">From ₹375</p>
          <p class="text-muted text-center m-0">Havells, Philips & more</p>
        </div>
      </div>
      <div class="card" style="width: 12rem; height: 220px; border-radius: 10%">
        <img
          style="width: 60%; margin-left: 50px"
          src="https://rukminim1.flixcart.com/image/300/300/jjkbhjk0/sandwich-maker/5/q/g/nova-2-slice-sandwich-maker-original-imaf74a8zrqzfgug.jpeg?q=70"
          alt="..."
          class="py-2"
        />
        <div class="card-content">
          <h5 class="text-center">Sandwich Makers</h5>
          <p class="text-center m-0">Upto 80% Off</p>
          <p class="text-muted text-center m-0">Prestige, Nova & more</p>
        </div>
      </div>
      <div class="card" style="width: 12rem; height: 220px; border-radius: 10%">
        <img
          style="width: 40%; height: 50%; margin-left: 55px"
          src="https://rukminim1.flixcart.com/image/300/300/kk01pjk0/fan/d/d/l/tiktik-quiet-portable-table-fan-zigma-original-imafzg7ftzuckpad.jpeg?q=70"
          alt="..."
          class="py-2"
        />
        <div class="card-content">
          <h5 class="text-center">Fan</h5>
          <p class="text-center m-0">From Rs. 999</p>
          <p class="text-muted text-center m-0">By Usha</p>
        </div>
      </div>
      <div class="card" style="width: 12rem; height: 220px; border-radius: 10%">
        <img
          style="width: 50%; margin-left: 50px"
          src="https://rukminim1.flixcart.com/image/300/300/ku1k4280/roti-khakra-maker/q/m/y/indian-chapati-roti-dosa-with-1-year-warranty-stainless-steel-original-imag79hcmwg3cayf.jpeg?q=70"
          alt="..."
          class="py-2"
        />
        <div class="card-content">
          <h5 class="text-center">Roti Makers</h5>
          <p class="text-center m-0">60-80% Off</p>
          <p class="text-muted text-center m-0">Prestige,Aiwa & More</p>
        </div>
      </div>
      <div class="card" style="width: 12rem; height: 220px; border-radius: 10%">
        <img
          style="width: 70%; height: 55%; margin-left: 30px"
          src="https://rukminim1.flixcart.com/image/300/300/kqidx8w0/television/j/s/o/50put8215-94-philips-original-imag4gb5vkhsj8fk.jpeg?q=70"
          alt="..."
          class="py-2"
        />
        <div class="card-content">
          <h5 class="text-center">Entertainment</h5>
          <p class="text-center m-0">Starting Rs. 11599</p>
          <p class="text-muted text-center m-0">Best Experience</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-light pt-4">
  <div>
    <h3 class="heading-deals">Men's Footware</h3>
  </div>
  <section class="wrapper">
    <div class="container-fostrap">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="card">
                <a class="img-card">
                  <img
                    src="https://rukminim1.flixcart.com/image/300/300/kp1imq80/shoe/e/o/a/10-9771329-wrogn-beige-original-imag3cw3cfz88beb.jpeg?q=70"
                  />
                </a>
                <div class="card-content">
                  <h5 class="text-center">WROGN</h5>
                  <p class="text-center m-0">Min 30% Off</p>
                  <p class="text-muted text-center m-0">Men's Footware</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="card">
                <a class="img-card">
                  <img
                    src="https://rukminim1.flixcart.com/image/300/300/kdt50nk0-0/sandal/z/h/u/11016-01u-m4w6-3-crocs-grey-original-imafumkyntfs5fty.jpeg?q=70"
                  />
                </a>
                <div class="card-content">
                  <h5 class="text-center">CROCS</h5>
                  <p class="text-center m-0">Starting Rs. 1299</p>
                  <p class="text-muted text-center m-0">
                    Clogs, Sandals & more
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="card">
                <a class="img-card">
                  <img
                    src="https://rukminim1.flixcart.com/image/300/300/k65d18w0pkrrdj/shoe/y/j/y/9-gc-1869115-woodland-original-imafzspsfuzta8js.jpeg?q=70"
                  />
                </a>
                <div class="card-content">
                  <h5 class="text-center">WOODLAND</h5>
                  <p class="text-center m-0">Upto 60% Off</p>
                  <p class="text-muted text-center m-0">Casual Wear</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="card">
                <a class="img-card">
                  <img
                    src="https://rukminim1.flixcart.com/image/300/300/shoe/g/t/y/30592102-9-puma-black-original-imaeqer46qgskpj4.jpeg?q=70"
                  />
                </a>
                <div class="card-content">
                  <h5 class="text-center">ADIDAS</h5>
                  <p class="text-center m-0">Min 60% Off</p>
                  <p class="text-muted text-center m-0">Sports Wear</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
